 
@{
    ViewBag.Title = "About Page";
}
<h3>About :</h3>
<ol class="round">
    <li class="one">
        <h5>Buying and Trading Books</h5>
  Welcome to TextBook Trader! Your one stop shop for trading and selling your unwanted textbooks. We make it easy
        to trade your textbooks with other members and we let you put up books for the price you want! We charge no FEES whatsoever!
        Each book can be searched for by book title and you can see all the information about the book. We have a rating system that
        informs you of the condtion of the book, and also displays reputation for each member! Find your textbook for cheap on our site
        or trade in and sell those textbooks that you dont need anymore. YOU decide the price, we are not like a bookstore that will only
        give you a fraction of the value for your book. Join now and expiernce the awesomeness that is TextBook Trader!
    </li>
      <li class="Two">
        <h5>Register as a member</h5>
        Sign up for a member account and start trading and selling your books. Our accounts offer encryption, to ensure that your details are secure. We also value
          your privacy, and we will not give out your information to any third party sites or services. Sign up for all the features of the site, as a non-member you can view
          the latest added books, and can search for new ones, but for full details on which member is selling or trading the textbook you should register as a member! Join Today!
    </li>
</ol>