 
@{
    ViewBag.Title = "Contact Page";
}
<h3>Contact Us:</h3>
If you have any problems or suggestions, or just want to drop us a line you can reach us at
<br />
<br />
Textbookhelp@gmail.com
<br />
<br />
Or call 1800-TEXT-BWK
<br />
<br />
We appreciate your membership and we want to provide the best experience for you during your stay here at TextBook Trader.